/* Rest issue where padding isn't included in dimensions of the element */
html{
    box-sizing: border-box;
}
*,*:before *, after{
    box-sizing: inherit;
}
body{
    font-family: 'Open Sans', Arial, sans-serif;
    background: #dbd9d9;
    margin: 0;
}
.inner {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images .inner {
    flex-wrap: wrap;
}
@supports(display: grid) or (display: -ms-grid){
.images .inner {
display: -ms-grid;
display: grid;
-ms-grid-template-columns: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1em;
}
}
header {
    background: #fff;
    padding: 1em 0;
}
.header__logo {
    font-size: 2em;
    font-family: 'Cookie', cursive;
}
/*profile area styles */
.profile__image {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    flex: 0 0 200px;
   }
.profile__info {
     flex: 1 1 auto;
     margin: .5em 1.5em;
}
.profile__meta{
    display:flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}
.profile__meta li{
    margin-right: 2em;
}
.button {
    color: #4090db;
    text-decoration: none;
    border: 1px solid currentColor;
    padding: .5em 1em;
    
}
.button--blue {
background:#4090db;
color: white;
border-color: #4090db ;
border-radius: 8px;
}
img {
    max-width: 100%;
}
