/* Rest issue where padding isn't included in dimensions of the element */
html{
    box-sizing: border-box;
}
*,*:before *, after{
    box-sizing: inherit;
}
body{
    background: #dbd9d9;
    margin: 0;
}
.inner {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background: #fff;
    padding: 1em 0;
}
.header__logo {
    font-size: 2em;
    font-family: 'Cookie', cursive;
}
/*profile area styles */
.profile__image {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.button {
    color: #4090db;
    text-decoration: none;
    border: 1px solid currentColor;
    padding: .5em 1em;
    
}
.button--blue {
background:#4090db;
color: white;
border-color: #4090db ;
border-radius: 8px;
}
